{% extends 'myshoptemplate/common.html' %}
{% block common %}
    {% load static %}
<br>


    {% if request.session.contact %}
        <h1 align="center"> you are Logged in Already</h1>

    {% else %}
        <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table align="center">
    <tr><th colspan="2"><h1 style="text-align: center;font-family: BlinkMacSystemFont;font-size: 30px;color:indigo"> Login</h1></th></tr>
    <tr>
        <th>{{ lf.email.label }}</th>
        <th>{{ lf.email }}</th>
    </tr>
    <tr>
        <th>{{ lf.password.label }}</th>
        <th>{{ lf.password }}</th>
    </tr>
    <tr>

        <th colspan="2"><br><button type="submit" class="btn btn-primary">Sign-Up</button></th>
    </tr>
    {% if error %}

        <tr>
        <th style="color: red">{{ error }}</th>
        </tr>
    {% endif %}


    </table>
   </form>


    {% endif %}




{% endblock %}