{% extends 'myshoptemplate/common.html' %}
{% block common %}


<h1 style="text-align: center;color:blueviolet">Registration Page</h1>
    {% if request.session.contact %}
        <h2 style="text-align: center">You are a Member Already</h2>
    {% else %}
        <form method="post" action="{% url 'register' %}">
 {% csrf_token %}
<table align="center">
<tr>
    <th>{{ rf.name.label }}</th>
    <th>{{ rf.name }}</th>
</tr>
<tr>
    <th>{{ rf.contact.label }}</th>
    <th>{{ rf.contact }}</th>
</tr>
<tr>
    <th>{{ rf.email.label }}</th>
    <th>{{ rf.email }}</th>
</tr>
<tr>
    <th>{{ rf.password.label }}</th>
    <th>{{ rf.password }}</th>
</tr>


<tr>
    <th>
        <input type="hidden" name="otp" required="" id="id_otp" value="0">
    </th>

</tr>
<tr>
    <th colspan="2">
        <button type="submit" class="btn btn-primary">Save</button>
    </th>

</tr>

</table>
</form>
    {% endif %}



{% endblock %}